<%= form_with(model: student_table, local: true) do |form| %>
  <% if student_table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student_table.errors.count, "error") %> prohibited this student_table from being saved:</h2>

      <ul>
      <% student_table.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :branch %>
    <%= form.text_field :branch, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :contactNumber %>
    <%= form.text_field :contactNumber, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.select :gender, [ ["Male", 1], ["Female", 0] ], class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :cgpa %>
    <%= form.text_field :cgpa, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :permanentAddress %>
    <%= form.text_area :permanentAddress, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :semester %>
    <%= form.number_field :semester, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary btn-sm"  %>
  </div>
<% end %>
